.container {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

table {
    width: 80%
}

.null {
    background-color: lightgrey;
}